# Python artifacts
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.venv/
env/
venv/
.secrets
.venv/

# macOS System Files
.DS_Store

# Builds
build/
dist/
.eggs/

# devcontainer
.devcontainer/

# Python build artifacts
*.egg-info

# Pytest cache
.pytest_cache/

# Ruff cache
.ruff_cache/

# Manual artifacts
tw_test_backups/
